# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# Temporary & Editor files
.vscode/
.idea/
*.swp
*.swo
*~
*.log

# Node dependencies & caches
node_modules/
npm-debug.log*

# Deployment & Environment
.env
.env.local
.firebase/
.firebaserc
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
